@font-face {
  font-display: swap;
  font-family: "Noto Sans Mono";
  font-style: normal;
  font-weight: 100 900;
  src: url("../fonts/NotoSansMono.ttf") format("truetype");
}

:root {
  --black: oklch(0% 0 0);
  --gray: oklch(50% 0 0);
  --white: oklch(100% 0 0);
  --box-border: oklch(100% 0 0 / 0.1);
  --grid-gap: 0.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--bg);
  background-image: linear-gradient(rgba(18, 18, 18, 0.3) 0%, rgba(18, 18, 18, 0.1) 100%);
  color: var(--gray);
  display: flex;
  flex-direction: column;
  font:
    400 1rem "Noto Sans Mono",
    monospace;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

body[data-blur="true"] {
  backdrop-filter: blur(10px);
}

img,
svg {
  pointer-events: none;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--grid-gap);
  height: 100vh;
  overflow-y: scroll;
  padding: 1rem;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  width: 100vw;
}

.grid {
  contain-intrinsic-size: 1px 1000px;
  content-visibility: auto;
  display: grid;
  gap: var(--grid-gap);
  grid-column-start: 1;
  grid-row-start: 1;
  grid-template-columns: repeat(var(--items-per-column), minmax(0, 1fr));
  width: fit-content;
}

.grid:empty {
  display: none;
}

.box {
  aspect-ratio: 1 / 1;
  background-color: transparent;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 0.25) 100%
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: var(--white);
  display: flex;
  flex-direction: column;
  height: var(--box-size);
  overflow: hidden;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition: all 200ms ease-in-out;
  width: var(--box-size); 

  &:active, &:hover, &:focus {
    outline: none;
  }

  &:hover {
    backdrop-filter: blur(28px) saturate(10);
    background-color: rgba(255, 255, 255, 0.1);

    .title {
      /* text-transform: uppercase; */
      font-weight: 600;
    }
  }
}

.background {
  border-radius: 8px;
  filter: blur(28px) saturate(10);
  height: 100px;
  inset: 0;
  opacity: 0.25;
  overflow: hidden;
  position: absolute;
  scale: 3.4;
  width: 100px;
  z-index: -1;
}

.background-image {
  height: 100%;
  object-fit: cover;
  opacity: 1;
  width: 100%;
}

.header {
  align-items: center;
  display: flex;
  gap: 8px;
}

.title {
  font-size: 0.875rem;
  font-weight: 450;
  letter-spacing: -0.025rem;
  line-clamp: 1;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: pretty;
  white-space: nowrap;
}

.icon {
  border-radius: 4px;
  height: 16px;
  width: 16px;
}

[data-compact="true"] .grid {
  grid-auto-rows: unset;
}

[data-compact="true"] .box {
  aspect-ratio: 4 / 1;
  height: calc(var(--box-size) / 4);
  justify-content: center;
}

[data-compact="true"] .background {
  height: 200%;
}

.no-bookmarks {
  color: var(--white);
  font-size: 0.875rem;
  margin: auto;
  text-align: center;
  width: fit-content;
}

footer {
  bottom: 0;
  color: var(--white);
  font-size: 0.875rem;
  padding: 1rem;
  position: sticky;
  text-align: left;
  width: 100%;
}
