:root {
  --black: oklch(0% 0 0);
  --gray: oklch(50% 0 0);
  --white: oklch(100% 0 0);
  --box-bg: oklch(20% 0 0);
  --text-light: oklch(100% 0 0 / 0.8);
  --toggle-bg: oklch(25% 0 0);
  --toggle-accent: oklch(55% 0 0);
  --button-bg: oklch(100% 0 0 / 0.045);
  --button-bg-hover: oklch(100% 0 0 / 0.075);
  --button-border: oklch(100% 0 0 / 0.15);
  --popup-width: 350px;
  --transition: 250ms cubic-bezier(0.3, 1, 0.3, 1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  background-color: var(--box-bg);
  color: var(--gray);
  font:
    400 0.875rem system-ui,
    sans-serif;
  min-width: var(--popup-width);
}

.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 1rem;
}

header {
  display: block;
  margin-bottom: 0.875rem;
}

@media (min-width: 450px) {
  header {
    display: none;
  }
}

header a {
  color: var(--text-light);
  font-size: 0.875rem;
}

.options-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 1rem;
}

.options-group:last-child {
  margin-bottom: 0;
}

.options-title {
  color: var(--text-light);
  font-size: 0.875rem;
  font-weight: 600;
  padding-bottom: 8px;
}

.option-item {
  align-items: flex-start;
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}

.option-item:has(.input-label) {
  display: grid;
  gap: 0 16px;
  grid-template-columns: 1fr 2fr;
}

.option-description {
  flex: 1;
}

.option-title {
  color: var(--white);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.option-subtitle {
  color: var(--gray);
  font-size: 0.75rem;
  line-height: 1.25rem;
  text-wrap: pretty;
}

input[type="checkbox"] {
  display: none;
}

.switch {
  --toggle-size: 1rem;
  background-color: var(--toggle-bg);
  border: 2px solid transparent;
  border-radius: 999px;
  cursor: pointer;
  display: inline-flex;
  height: calc(var(--toggle-size) + 0.25rem);
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  width: calc(var(--toggle-size) * 2 + 0.25rem);
}

.switch span {
  background-color: var(--toggle-accent);
  border-radius: 999px;
  height: var(--toggle-size);
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
  width: var(--toggle-size);
}

.input-wrapper {
  position: relative;
  width: 100%;
}

input[type="checkbox"]:checked + .switch {
  background-color: var(--white);
}

input[type="checkbox"]:checked + .switch span {
  background-color: var(--black);
  transform: translateX(var(--toggle-size));
}

input[type="text"],
input[type="number"] {
  background-color: transparent;
  border: 1px solid var(--gray);
  border-radius: 8px;
  color: var(--text-light);
  font: inherit;
  height: 2rem;
  outline: none;
  padding: 4px 8px;
}

input[type="text"] {
  width: 100%;
}

input[type="text"]:focus {
  outline: 2px solid var(--toggle-accent);
}

input[type="number"] {
  background-color: transparent;
  border: 1px solid var(--gray);
  border-radius: 8px;
  color: var(--text-light);
  font: inherit;
  height: 2rem;
  outline: none;
  padding: 4px 8px;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 0.25rem;
}

.btn {
  background-color: var(--button-bg);
  border: 1px solid var(--button-border);
  border-radius: 8px;
  color: var(--white);
  cursor: pointer;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 600;
  height: 2.25rem;
  padding: 0.5rem 0.75rem;
  transition: background-color var(--transition);
}

.btn:hover {
  background-color: var(--button-bg-hover);
}
